*{padding:0px; margin:0px; }
body{font-size: 14px; width: 100%; min-width: 1100px;}
a{text-decoration: none;}
ul li{list-style: none;}
.comWidth{width:980px; margin: 0 auto; }
.leftArea{float:left;}
.rightArea{float: right;}

/*头部*/
.header_bar{width:100%; height:80px; background: #522A5C; position: relative;}
.logo{float: left;}
.logo h2{padding-top:46px;}
.logo a{text-decoration: none; color: white; }
.menu_list{overflow: hidden;}
.menu_list ul{float: right; padding-top: 55px;}
.menu_list ul li{float: left; list-style: none; font-size: 14px; color: white; padding-left: 14px;}
.menu_list ul li a{ color: white;}
.header_bar .github{width: 30px; height: 34px; position: absolute; right: 13px; bottom: 0;}

/*banner*/
.banner{ position: relative; height: 525px; width: 100%;}
.banner img{height: 525px; width:100%;}
.description_bg{height: 120px; width: 360px; background: black; position: absolute; right:110px; bottom:0;
    background: -webkit-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.3) 75% ,rgba(255,255,255,0) 100%); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.3) 75% ,rgba(255,255,255,0) 100%); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.3) 75% ,rgba(255,255,255,0) 100%); /* Firefox 3.6 - 15 */
    background: linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.3) 75% ,rgba(255,255,255,0) 100%) /* 标准的语法（必须放在最后） */}
.banner_des{padding: 10px 10px 30px;}
.banner_des h3{font-size: 1em; text-align: right; color: white;}
.banner_des p{font-size: 0.85em; line-height: 150%; padding-top: 12px; text-indent: 2em; color: white;}

/*图片列表*/
.img_list{height: 480px; background-color: #EEEEEE; width: 100%;}
.img_list .product_list{padding-top: 10px; overflow: hidden; width: 980px;}
.img_list .list{width: 320px; background-color: white; float: left; padding-bottom: 300px; margin-bottom: -300px;}
.img_list .mid{margin-left:10px; margin-right: 10px;}
.list img{padding: 10px;}
.list p{font-size: 13px; padding-left: 22px; padding-right: 35px; text-indent: 2em; padding-bottom: 20px;}

/*自我介绍*/
.introduce{height: 520px; width: 100%;}
.introduce .my_img{width:160px; height: 160px; background:url("../img/my_img.jpg") no-repeat; border-radius: 100%; margin: -50px auto 0;  z-index:1;}
.introduce h3{font-size: 20px; font-weight: normal; margin-top: 50px; text-align: center;}
.introduce p{font-size: 14px; width: 600px; margin: 45px auto 0; text-indent: 2em; line-height: 25px;}

/*底部菜单*/
.footer_menu { height: 35px; width: 100%; border-bottom: 1px solid #333333; line-height: 35px; background-color: black;}
.footer_menu  ul{width:199px; margin: 0 auto}
.footer_menu  ul li{float: left; color: white; font-size: 12px; padding-left: 25px;}

/*底部链接*/
.footer{background-color: black; height: 360px;}
.footer_link{float: left; padding-right: 152px;}
.footer_link_last{padding-right: 90px;}
.footer ul{color: white;}
.footer ul li{padding-top: 10px;}
.footer label{padding-top: 41px; padding-bottom:20px; color: #CCCCCC; display: inline-block;}
.footer p{color: white; width:60px; margin: 80px auto 0;}
.footer span{width: 30px; height: 34px; background: url("../img/icon-github.png") no-repeat; display: block; margin:23px auto 0;}

/*文章列表*/
.main_content{background-color: #EEEEEE; height: 1525px; width: 100%;}
.main_content .comWidth{overflow: hidden;}
.page_list{width:710px; background-color: white; margin-top: 20px; position: absolute;}
.page_date{width: 50px; height: 40px; background-color: #522A5C; margin-top: 20px; margin-left: -50px; display: block; float: left; }
.page_type{width: 50px; height: 40px; background-color: #A660B7; margin-top: 60px; margin-left: -50px; display: block; float: left; }
.page_content{padding: 20px 15px 15px;}
.page_content h3{font-size: 16px; color: #A660B7;}
.page_content h4{font-size: 12px; color: #666666; margin-top: 10px; margin-bottom: 15px;}
.page_content p{text-indent: 2em; line-height: 1.8em; font-size: 13px;}
.page_content .author{color: #999999; float: right; padding-bottom: 20px;}

/*侧栏*/
.search_box{ background-color: white; margin-top: 20px; padding: 20px;}
.search_box input{width: 166px; height: 40px; border: 1px solid #DDDDDD; background: url("../img/fangdajing.png") no-repeat 8% 50%; text-indent: 50px; font-size: 16px;}
.search_box button{width: 52px; height: 42px; border: none; color: white; font-size: 15px;}
.side_list{width: 260px; height: 200px; background-color: white; margin-top: 10px;}
.side_list ul li{width: 256px; height: 49px; line-height: 49px; border-bottom: 1px solid #DDDDDD; border-left: 4px solid #DFC6E6; padding-left: 18px;}
.side_list ul li a{color: #666666; }
.side_list ul li:hover{border-left: 4px solid #522A5C;}
.date{width: 260px; height: 240px; background-color: white; margin-top: 10px;}
.date .year{ padding-top: 20px; padding-left: 33px; color: #773B87; font-weight: bold;}
.date .day{padding: 10px 40px; color: #999999;}
.date hr{border-top:1px solid #EEEEEE; width: 220px; margin-left: 13px;}
.date span{font-weight: bold; color: #522A5C;}
.date .today{width: 26px; height: 18px; background-color: #522A5C; color: #999999; font-weight: normal;}
.tags{width: 260px; height: 197px; background-color: white; margin-top: 10px;}
.tags h3{color: #666666; padding-top: 15px; padding-left: 15px; padding-bottom: 28px;}
.tags p{padding-left: 15px;}

/*gallery-tab*/
.tab{background: white; overflow: hidden; margin-top: 20px; width: 664px;}
.tab .current{border-top: 4px solid #522A5C;}
.tab li{float: left; padding: 14px 25px 20px 20px; border-right: 1px solid #EEEEEE; border-bottom: 1px solid #EEEEEE; }

.tab li:nth-child(2){border-top: 4px solid #DFC6E6;}
.tab li:nth-child(3){border-top: 4px solid #D2A6FF;}
.tab li:nth-child(4){border-top: 4px solid #FFA98C;}
.tab li:nth-child(5){border-top: 4px solid #FFE188;}

.tab li:nth-child(1):hover{border-top: 4px solid #522A5C;}
.tab li:nth-child(2):hover{border-top: 4px solid #522A5C;}
.tab li:nth-child(3):hover{border-top: 4px solid #5900B2;}
.tab li:nth-child(4):hover{border-top: 4px solid #8C2300;}
.tab li:nth-child(5):hover{border-top: 4px solid #D9A300;}


/*gallery-popular*/
.popular{width: 260px; height: 240px; background: white; margin-top: 10px;}
.popular .pop_item{float: left; margin-top: 13px;}
.popular h3{color: #666666; padding-top: 17px; padding-left: 13px; font-size: 14px; padding-bottom: 12px;}
.popular .pop_num{width: 16px; height: 16px; border-radius: 100%; background: #522A5C; display: block; float: left; margin: 0 13px; color: white; line-height: 16px; text-align: center; font-size: 12px;}
.popular .bar{width: 100px; position: relative; background: #F6F6F6; height: 16px; float: left; border: 1px solid #522A5C; margin-right: 12px;}
.popular .bar div{position: relative; background: #522A5C; height: 16px;}

/*gallery-public*/
.gallery_list{width:670px; height: 680px; background: white; padding: 20px;}
.gallery_item {float: left;}
.gallery_item dd{margin-top: -3px; float: left;}
.gallery_item  h3{margin-left: 20px; color: white; font-weight: normal; margin-top: 11px;}
.gallery_item  p{color: white; margin-top: 7px; font-size: 12px;}
.gallery_item  span{width: 25px; height: 25px; border: 1px solid white; border-radius: 100%; display: block; float: left; color: white; text-align: center; line-height: 25px; margin: 11px 11px 20px;}

.gallery_item .gallery1{background: #522A5C; width: 330px; height: 70px;}

.gallery_item .gallery2{background: #5900B2; width: 160px; height: 85px;}
.gallery_list dl:nth-child(2){margin-left: 10px;}

.gallery_item .gallery3{background: #D9A300; width: 160px; height: 105px;}
.gallery_list dl:nth-child(3){margin-left: 10px; margin-bottom: 25px;}

.gallery_item .gallery4{background: #D9A300; width: 160px; height: 105px;}

.gallery_item .gallery5{background: #8C2300; width: 160px; height: 85px;}
.gallery_list dl:nth-child(5){margin-left: 10px;}

.gallery_item .gallery6{background: #522A5C; width: 160px; height: 105px;}
.gallery_list dl:nth-child(6){margin-left: 10px; margin-top: -35px;}

.gallery_item .gallery7{background: #8C2300; width: 160px; height: 155px;}
.gallery_list dl:nth-child(7){margin-left: 10px; margin-top: -15px;}

.gallery_item .gallery8{background: #522A5C; width: 160px; height: 63px;}
.gallery_list dl:nth-child(8){margin-top: -25px;}

.gallery_item .gallery9{background: #5900B2; width: 160px; height: 105px;}
.gallery_list dl:nth-child(9){margin-left: 10px; margin-top: -45px;}

.gallery_item .gallery10{background: #D9A300; width: 160px; height: 85px;}
.gallery_list dl:nth-child(10){margin-left: 10px; margin-top: -60px;}

.leftArea .more{width: 710px; height: 50px; background: white; margin-top: 10px; line-height: 50px; text-align: center; color: #666666;}